
@font-face {
    font-family: 'helveticablack';
    src: url('../fonts/helvetica-black-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaregular';
    src:url('../fonts/helvetica_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica_heavy_font-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Helvetica LT Std';
    src: url('../fonts/HelveticaLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


body  { font-size: 14px;color: #000;font-family: 'helveticaregular'; background-color: #eaeaea;}
body.whitebg {
    background-color: #fff;
}
a     { color: #000 }
.text-uppper      { text-transform: uppercase; }
.helveticaregular { font-family: 'helveticaregular'; }
.helveticablack   { font-family: 'helveticablack'; }
.helveticabold    { font-family: 'helveticabold'; }
.helveticalight   { font-family: 'Helvetica LT Std'; }
.colorBlue        { color: #0054a6 }
.whitebg          { background-color: #fff }
.greybg           { background-color: #eaeaea }
.darkbg           { background-color: #ccc }

.mtb5{
    margin:5px 0;
}
.mtb10{
    margin:10px 0;
}
.mtb15{
    margin: 15px 0;
}
.mb15{
    margin-bottom: 15px;
}
.m-t-5 { margin-top: 5px; }
.m-t-b-5 { margin-top: 5px;margin-bottom: 5 }
.m-t-15 { margin-top: 15px; }
.m-t-20 { margin-top: 20px; }
.m-t-25 { margin-top: 25px; }
.m-t-50 { margin-top: 50px; }
.m-t-75 { margin-top: 50px; }
.m-b-t-0  { margin-bottom: 0;margin-top: 0  }
.m-b-5    { margin-bottom: 5px }
.m-b-55   { margin-bottom: 55px}

.p15{
    padding: 15px;
}
.p-b-5  { padding-bottom: 5px }
.p-b-10 { padding-bottom:10px; }
.p-t-60 { padding-top: 60px; }
.p-t-75 { padding-top: 75px; }
.p-all5 { padding: 5px; }
.p-l-0  { padding-left: 0 }
.p-l-20  { padding-left: 20px }
.p-r-0  { padding-right: 0 }
.p-t-0  { padding-top: 0 }
.p-b-0  { padding-bottom: 0 }
.p-t-b-5   { padding-top: 5px;padding-bottom: 5px }
.p-t-b-15  { padding-top: 15px;padding-bottom: 15px }
.p-t10-b15 { padding-top: 10px;padding-bottom: 15px }
.w-100  { width: 100% }
.w-auto { width: auto; }
.headingHr  { border-bottom: 1px solid #ccc }

.fontSize11    { font-size: 11px; }
.fontSize12    { font-size: 12px; }
.fontSize20    { font-size: 20px; }
.borderradius8 { border-radius: 8px; }
.borderOnly    { border: 1px solid #b1acac }
.headingColor  { color: #14286a }
.d-block       { display: block }
.min-height97    { min-height: 97px }
.min-height    { min-height: 118px }
.displayNone   { display: none }
}
 

/*form login*/
form.form-login .form-group label { font-weight: normal;  }
form input.form-control,form select.form-control   { border: 0;border-bottom: 1px solid #ccc;border-radius: 0;box-shadow: none;padding: 6px 0 }
form input.form-control:focus,
form select.form-control:focus { box-shadow: none }
form .forgotPass a             { display: block;text-decoration: underline; }
form a:hover                   { color: #0054a6 }
form .btnSubmit .btn-primary,
.btnSubmit .btn-primary       { 
    background-color: #0054a6;
    border: 1px solid #000;
    border-radius: 50px;
}
.btnSubmit .btn:hover{
    background-color: #286090;
}
form select.form-control, input[type=date].form-control{ 
    -webkit-appearance: none;
    background: url(../images/expand-button.png) no-repeat top 15px right 7px;
    background-size: 10px;
}
.input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover { background-color: transparent;outline: 0;box-shadow: none;}

#myCarousel                   { position: relative; }
#myCarousel,.carousel-inner   { height: 150px }
.carousel-inner .item img     { margin-top: 0;
    width: 100%;
    height: 150px;
    object-position: center;
    object-fit: cover;
}
.carousel-inner .item.opacity img{-webkit-filter: opacity(50%);filter: opacity(50%);}
.userForm{
    background-color: #fff;
}
.carousel-caption {  
    bottom: 0;
    top: auto;
}
.carousel-caption h3 {    
    color: #ffffff;
    background: rgba(46, 49, 145, 0.47);
    padding: 0 15px;
    line-height: 2;
    width: auto;
    display: inline-block;
    font-size: 15px;
    border-radius: 100px;
}

.loginbanner{
    position: relative;
    width: 100%;
}
.logo {
    position: absolute;
    text-align: center;
    top: 20px;    
    z-index: 9;
    width: 100%;
}
.logo img { height: 50px; margin:0 auto }

.fixedEdit{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 50px;
    z-index: 2;
    padding: 5px 0;
}

.frmDashboard {
    height: 50px;     
    padding: 10px 15px;
    border-bottom: 1px solid #000;
}
.orderDet {
    font-size: 16px;
    padding: 10px 15px;
    background-color: #eaeaea;    
    top: 0;
    
}
.frmRg ,.frmforgotPass          { display: none;}
.frmLogin,.frmRg   { -webkit-transition: opacity 600ms, visibility 600ms;transition: opacity 600ms, visibility 600ms;  }
.backArrow img     { width: auto; }

.card-header button { padding-left: 0;color: #000 }
form.form-createOrder .card .card-body { position: relative; }

.files       { position: relative; }
.files input { outline: 2px dashed #bbbec3;
    /* outline-offset: -10px; */
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 22% 25%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    border: 0;
}

.files:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " Browse";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.files:after {
    pointer-events: none;
    position: absolute;
    top: 32px;
    left: 0;
    width:30px;
    right: 0;
    height: 66px;
    content: "";
    background-image: url(../images/upload.png);
    display: block;
    margin: 0 auto;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
}
input[type=file] { display: block;}
/*file upload*/

.image-preview,
.second-image-preview,
.third-image-preview
{   border: 1px solid #ccc;
    height: 160px;
    padding: 25px;
    width: 100%;
    text-align: center;
    
}

form input.form-control.image-preview-filename,
form input.form-control.second-image-preview-filename,
form input.form-control.third-image-preview-filename,
form input.form-control.upload-image-preview-filename{
    width: 100%;
    display: block;
    float: none;
    background-color: transparent;
    border: 0;text-align: center;
    
}

.image-preview-input,
.second-image-preview-input { position: relative;overflow: hidden;margin: 0px;color: #333;background-color: #fff;border-color: #ccc; }

.image-preview-input input[type=file],
.second-image-preview-input input[type=file],
.third-image-preview-input input[type=file],
.upload-image-preview-input input[type=file] { position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}

.image-preview-input-title,
.second-image-preview-input-title,
.third-image-preview-input-title,
.upload-image-preview-input-title { margin-left:2px;}

.popover  { z-index: 1; position: absolute;top: 0 !important;max-width: 200px;border: 0;box-shadow: none;display: block !important; }
.popover .arrow,
.popover .popover-title       { display: none }
.popover .popover-content img { width: 80px !important;height: 80px !important} 
.input-group-btn       { display: block;width: 100%;bottom: 0px; left: 0; position: absolute;  }
.card-body .input-group-btn>.btn  { position: relative;border: 0;color: #0054a6; z-index: 0;}

/*file upload end*/

/*creteorder page*/
#datepicker        { position: relative;z-index: 9;background: transparent; }
.input-group-addon { position: absolute;right: 21px; bottom: 0;border: 0;background: transparent; }
.card-header .btn-link  { color: #000;}
.card-header .btn-link:focus { outline: 0;text-decoration: none  }
.card-header .collapsed { color: #0054a6 }

/*dashboard page*/

.alertBox {
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;    
    z-index: 2;
}
.alertBox .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    background: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alertBox .alert p{
    margin-bottom: 20px;
    white-space: nowrap;
    font-size:16px;
}
.alertBox .alert span.btntext {
    padding: 0;
    font-size: 16px;
    margin-left: 20px;
    color: #888;
}
.dashboardData  { font-size: 12px }
.dashboardData .itemTitle{
    color:green;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
}
.container.userForm {
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: -ms-calc(100vh - 50px);
    height: -o-calc(100vh - 50px);
    height: expression(100vh - 50px);    
    height: calc(100vh - 50px);
}
.fontGreen      { color: green; }
.borderBottom   { border-bottom: 1px solid #ccc }
.btnFix {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background-color: #fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 8px;    
}
.imageView img{
    max-height: 80px;
    max-width: 80px;
}
.productImg     { width: 100%;height: 105px;display: table;}
.productImg span { font-size: 15px;display: table-cell; vertical-align: middle; }


/*editprofiel*/
.bannerImg      { height: 150px;position: relative; }
.bannerImg img  { height: 100%;width: 100%; object-fit:cover;}

.userProfileimg { 
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);    
    height: 100px;
    width: 100px;
    background-color: #ddd;
    border-radius: 100%;
     
}
.userProfileimg .userProfileimg img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid #555;
}
.userProfileimg .upload{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid #eaeaea;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: #e01405;
    color: #fff;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    z-index: 1;

}
.userProfileimg.slim {
    position: absolute;
}
.upload input[type="file"]{
    position: absolute;
    z-index: 1;
    top:0;
    opacity: 0;
    width: 50px;
}
.userProfileimg .popover-content { padding: 0 }                      
.upload-image-preview            { border: 0;padding: 36px;width: 98px; height: 98px;
    text-align: center;background-color: #fff;border-radius: 50%;margin-top: -2px; margin-left: -1px;font-size: 25px;
    color: #8a8686;}
.upload-image-preview input[type='text'],
.upload-image-preview-clear           { display: none !important}    
.upload-image-preview .popover.bottom { margin-top: 10px;left: -2px !important;background-color: transparent;margin-top: -1px;}  
.userProfileimg .popover .popover-content img    { width: 96px !important;height: 96px !important; overflow: hidden;border-radius: 50px; } 
.userProfileimg .popover.bottom       { margin-top: -1px;border-radius: 50px;background-color: transparent;left: -1px !important;}             
.userProfileimg .upload-image-preview-input,
.userProfileimg .upload-image-preview-input:hover,
.userProfileimg .upload-image-preview-input:focus,
.userProfileimg .upload-image-preview-input:active  { position: absolute !important;right: -40px;z-index: 9999!important;
    background-color: #2551ad !important;border-radius: 50px !important;color: #fff; height: 30px;padding-top: 6px;
    top: -52px;font-size: 11px; width: 30px; padding-left: 10px; }
.userProfileimg .glyphicon-camera    { color: #fff }

.circle     { border-radius: 50px;height: 70px;width: 70px;border: 1px solid #ccc;position: relative;     left: 50%;
    transform: translateX(-50%);}
.circle img { width: 30px;height: 30px; }
/*.vertlicalLing  { border-left: 1px solid #ccc;height: 50px; }*/
.circle:before {     content: '';border: 1px solid #ccc;height: 50px;position: absolute;bottom: 68px;left: 48%;}
.circle.first-step:before { border: 0; }
.cancelledOrd{
    color: red;
    background-color: #fff;
    padding:10px;
    border-radius: 8px;
    margin-top: 15px;
}
.dashboardData .helveticalight {
    padding-left: 0;
}
/**slide toggle menu**/
.menuButton { border: 0;background-color: transparent;font-size: 18px; margin:0px 0; right: 0;}
.menuButton span {color: #ccaf5f}
.user span    { font-size: 38px;border: 1px solid #7087da;color: #fff;border-radius: 60px;
    background-color: #7087da;width: 50px;height: 50px;text-align: center;padding: 4px 0 0;margin-bottom: 10px}
.user p { margin-bottom: 3px;font-size: 13px}    
.profileInfo  { 
    background:url(../images/profile-page.png) no-repeat top center; 
    background-size:cover; 
    height: auto;
    padding:15px;}
.box{
    float:left;
    overflow: hidden;
    background: #FFF;
    position: absolute;
    z-index: 99;
    box-shadow: 1px 1px 2px #000;
    height: 100vh

}
.box.sliderMenu{
    width:250px;
    margin-left: -270px;
    left: 0;
    top:0;

}
.sliderMenu.menuOpen{
    -webkit-animation-name: menuOpen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: menuOpen;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuOpen {
    from {margin-left: -270px;}
    to {margin-left: 0px;}
}

/* Standard syntax */
@keyframes menuOpen {
    from {margin-left: -270px;}
    to {margin-left: 0px;}
}


.sliderMenu.menuClose{
    -webkit-animation-name: menuClose; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: menuClose;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuClose {
    from {margin-left: 0px;}
    to {margin-left: -270px;}
}

/* Standard syntax */
@keyframes menuClose {
    from {margin-left: 0px;}
    to {margin-left: -270px;}
}
body.fixed{
    position: fixed;
    width: 100%;
}
#slideMenubg{
    width:100%;
    height:100%;
    display: block;
    position: fixed;
    top:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.73);
    z-index: 2;
}
.menuBar{
    padding:0;
    position: -webkit-sticky; /* Safari */
    position: -moz-sticky; 
    position: -ms-sticky; 
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;    
}
.btnBox{
    display: inline-block;
}
.backbtnBar .btnBox a {
    padding: 3px 0;
    display: block;
}
.backbtnBar .btnBox img {
    width: 25px;
}
.tittleBox {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    color: #1f226e;

}
.tittleBox .tittle {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
   
}
.shilpiLogo {
    display: inline-block;
    float: right;
}
.proImg {
    width: 95px;
    height: 95px;
    background: #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    display: block;
    clear: both;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.proimgBox{
    height: 115px;
    padding-left: 10px;
}
.proImg img{
    width: 100%;
}
.proImg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.box.sliderMenu .profile img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.details {
    color: #fff;
    margin-top:10px;
}
.details name{
    font-weight: 600;
}
.details .email{
    color:#ddd;
    display: block;
}
    /* Add padding and border to inner content
    for better animation effect */
    .box-inner{
       /* width: 600px;*/
        padding: 10px;
        border: 1px solid #a29415;
    }
    .box.sliderMenu ul   { margin:0;padding: 0 }
    .box ul li { list-style: none;}
    .box ul li a{display:block; padding: 10px 15px;}
    .box ul li a:hover, .box ul li a:focus{
        text-decoration: none;
    }
    .box ul li i { margin-right: 10px;font-size: 18px;color: #949393;}
    .box ul li span { margin-right: 10px;font-size: 18px;color: #000;}
    .box.sliderMenu ul li.active{
        background-color: #eaeaea;
    }
    .box button  { border: 0;
    background: transparent;
    float: right;
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 0; }
.frmDashboard button:focus { outline: 0  }
.profile_pic{width: 80px;height: 80px;border-radius: 50%;}


.form-login input.form-control[readonly] {
    background: none;
    opacity: 0.5;
}
.repoView{
    width: 100%;
    max-width: 768px;
    padding: 0 15px;
    background: #fff;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: -ms-calc(100vh - 50px);
    height: -o-calc(100vh - 50px);
    height: expression(100vh - 50px);    
    height: calc(100vh - 50px);
}
.frmCreateOrder {
    max-width: 768px;
    width: 100%;
}
.form-control[disabled] {
    background: #fff;
    opacity: 0.5;
}
.imgUploadView img{
    height: 80px;
    width: 80px;    
    object-fit: contain;
}
.imgUploadView input[type="file"] {
    max-width: 65px;
}
input.dateInput{
    background:url(../images/calander.png) no-repeat top 10px right 0px; 
    background-size:20px; 
}
.noorder {
    height: -webkit-calc(100vh - 250px);
    height: -moz-calc(100vh - 250px);
    height: -ms-calc(100vh - 250px);
    height: expression(100vh - 250px);
    height: calc(80vh - 250px);
    background: #eaeaea;
    padding: 100px 0;
    text-align: center;
    color: #cacaca;
}
.noorder>img {
    display: block;
    margin: 0px auto;
    clear: both;
    width: 90px;
}
.ordDetailsBar {
    padding: 10px 15px;
    margin-top: 10px;
}
.histDtls {
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn span.title {
    color: #000;
}
.btn span {
    color: #0054a6;
}
.ordDetailsBar p:last-child {
    margin-bottom: 0;
}
.orderStatus{
    float: left;
}
.bannerBottom{
    position:fixed;
    bottom:0;
}
.datepicker td {
    cursor: pointer;
}
td.disabled.day {
    cursor: not-allowed;
    background-color: #fff8f6;
}
td.today.day {
    background-color: #0054a6;
    color:#fff;
}
td.active.day {
    background-color: #ffd9cb;
    color: #000;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom:  1px solid #ccc;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px unset inset;
  transition: background-color 5000s ease-in-out 0s;
}

.btn-flat {
    background-color: #fff;
}
.creatOrder input[type="text"].form-control {
    bottom: 0px;
}
.input-group .form-control{
    z-index: 0;
}

.dtp table.dtp-picker-days tr > td > a.selected {
    background: #e4bfbf !important;
    color: #fff;
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background: #f2dede !important;
    text-align: center;
    color: #fff !important;
    padding: 10px;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #e4bfbf !important;
    color: #fff !important;
    text-align: center;
    padding: 0.3em;
}
.dtp .p10 > a {
    color: #da9999 !important;
    text-decoration: none;
}
.dtp div.dtp-actual-year {
    font-size: 1.5em;
    color: #f7f7f7 !important;
}
@media (min-width: 768px){
    .container {
        width: 768px;
    }    
}
@media (min-width: 480px){

    #myCarousel, .carousel-inner, .carousel-inner .item img, .bannerImg, .bannerImg>img{
        height: 250px;
    }
    .bannerImg .userProfileimg, .bannerImg .userProfileimg>img{
        height: 150px !important;
        width: 150px !important;
    }
    .userProfileimg .upload {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }    
    .logo>img{
        height: 80px;
    }
    .box ul li a {
        display: block;
        padding: 20px 15px;
        font-size: 15px;
    }
    .profile_pic {
        width: 100px;
        height: 100px;
    }
    .profileInfo{

    }
}
@media(max-width: 425px){
    .carousel-caption h3 {
        font-size: 12px;
        bottom: 0;
        margin-bottom: 0;
    }
}
@media(max-width: 375px){ 
    .noorder{
            padding-top: 50px;
    }
     .noorder>img{
        width: 50px;
    }   
    .proImg img, .proImg{
        width: 80px;
        height: 80px;
    }
    .dashboardData .helveticalight{
        padding-right: 0;
    }
}

@media(max-width: 320px){

   
    .tittleBox .tittle{
        font-size: 17px;
        line-height: 2;
    }
    .proImg, .proImg img{
        width: 70px;
        height: 70px;
    }
    form input.form-control, form select.form-control{
        font-size: 12px;
    }
    .dashboardData {
        font-size: 11px;
    }
}
.slim-btn-remove{
    display: none;
}



/*-- IOS Css --*/

.process{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        margin:0;
        position:relative;
    }
    .process .cont{
        padding: 0 15px;
    }
    .logo{
        display:block;
        width: 200px;
        height: auto;
        margin:0 auto;
    }
    .started{
        clear: both;
        display: block;
        width: 150px;
        background-color: #2d3091;
        color: #ffffff;
        border-color: #2d3091;
        font-size: 17px;
        white-space: nowrap;
        padding: 8px 16px;
        margin-top: 60px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        position: absolute;
    }
    .contMidle h2{
        text-align: center;
        color: #d1aa65;
        text-transform: uppercase;
    }
    .started:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
.allDepartment .item a{
    display: block;
}
.allDepartment .item a img {
    height: calc(12.5vh - 6.25px);
    height: -webkit-calc(12.5vh - 6.25px);
    height: -moz-calc(12.5vh - 6.25px);
    height: -ms-calc(12.5vh - 6.25px);
    position: relative;
    top: 0;
}